<div class="container">
  <h2>Employees</h2>
  <ul class="nav nav-tabs">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">New</a></li>
	  <li class="active"><a href="#">Employees</a></li>
  </ul>
  <table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Handphone</th>
	      <th>Email</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="employeeDetails" ng-repeat="employee in employeeDetails">
		    <td>{{employee.Name}}</td>
        <td>{{employee.Handphone}}</td>
        <td>{{employee.Email}}</td>
        <td>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          </button>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete
          </button>
        </td>
	    </tr>
	  </tbody>

    <button type="button" class="btn btn-default" ng-click="AddEmployee()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Employee
    </button>


</div>
